* {
    box-sizing: border-box;
    background-color: rgb(25, 25, 30);
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.top-left-box {
    position: absolute;
    left: calc(4% + 5px);
    top: calc(4% + 5px);
    width: 300px;
    height: 300px;
    clip-path: polygon(100% 0, 0 100%, 0 0);
    background-image: linear-gradient(to bottom right, rgba(0, 255, 255, 80%), rgba(255, 0, 140, 80%), rgba(0, 255, 255, 80%));
    border-top-left-radius: 5px;
}

.bottom-right-box {
    position: absolute;
    right: calc(4% + 5px);
    bottom: calc(4% + 5px);
    width: 300px;
    height: 300px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background-image: linear-gradient(to bottom right, rgba(0, 255, 255, 80%), rgba(255, 0, 140, 80%), rgba(0, 255, 255, 80%));
    border-bottom-right-radius: 5px;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 20px;
    /* border: 1px solid yellow; */
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    margin: auto;
    width: 92%;
    height: 92%;
    /* border: 1px solid yellow; */
    border-radius: 3px;
}

.content-top {
    display: flex;
    padding: 1.5rem;
    /* border: 1px solid yellow; */
    height: 22.5%;
    border-radius: 3px;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    /* border: 1px solid yellow; */
}

.img-box:first-child {
    margin-right: auto;
}

.img-box:first-child img {
    width: 3rem;
    height: 3rem;
}

/* .img-box:first-child img:hover {
    width: 3.5rem;
    height: 3.5rem;
} */

img {
    width: 2rem;
    height: 2rem;
}

.sig {
    background-image:url(./Digital\ Sig.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 3rem;
    opacity: 75%;
}

.icon-white {
    opacity: 75%;
}

.icon-white:hover {
    opacity: 100%;
    transition: .3s;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}

.content-middle {
    display: flex;
    /* gap: 1rem; */
    /* border: 1px solid yellow; */
    height: 62.5%;
    border-radius: 3px;
}

.content-middle-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    /* border: 1px solid yellow; */
    border-radius: 3px;
    padding: 0 5rem;
}

.cml-top {
    margin-bottom: 1rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.cml-top span {
    animation: blinker 1s linear 5;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}

.cml-bottom {
    display: flex;
    align-items: center;
}

.cml-bl {
    margin-bottom: 1rem;
    line-height: 1.5;
    display: inline-block;
    position: relative;
    padding-left: 2px;
    background-image: linear-gradient( rgba(0, 255, 255, 80%), rgba(255, 0, 140, 80%));
}

#plink-row {
    display: none;
}

.cml-bl-list-item {
    margin: 1rem 0rem 0rem 1.5rem;
    line-height: 1.5;
    display: inline-block;
    width: fit-content;
    position: relative;
    padding-bottom: 1px;
    background-image: linear-gradient(0.25turn,rgba(255, 0, 140, 80%), rgba(0, 255, 255, 80%));
}

/* .cml-bl-list-content {
    display: inline-block;
} */

span {
    display: inline-block;
}


.cml-bl-list-content:hover {
    color: white;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
}

.cml-content {
    padding-left: 1.5rem;
}

.content-middle-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 30%;
    /* border: 1px solid yellow; */
    border-radius: 3px;
}

.cmr-top {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    /* border: 1px solid yellow; */
    border-radius: 3px;
}

.cmr-bottom {
    display: flex;
    /* border: 1px solid yellow; */
    border-radius: 3px;
}

.cmr-tlb {
    position: absolute;
    width: 115px;
    height: 115px;
    clip-path: polygon(100% 0, 0 100%, 0 0);
    background-image: linear-gradient(to bottom right, rgba(0, 255, 255, 80%), rgba(255, 0, 140, 80%), rgba(0, 255, 255, 80%));
    border-top-left-radius: 10px;
}

.cmr-bottom-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    z-index: 1;
    margin-top: 2px;
    margin-left: 2px;
    background-color: rgb(25, 25, 30);
    border-radius: 8px;
    /* border: 1px solid yellow; */
}

.list-item {
    line-height: 1.5;
    display: inline-block;
    width: fit-content;
    position: relative;
    padding-bottom: 1px;
    background-image: linear-gradient(0.25turn,rgba(255, 0, 140, 80%), rgba(0, 255, 255, 80%));
}

.list-content:hover {
    color: white;
    font-weight: bold;
    letter-spacing: .05rem;
    transition: .3s;
    cursor: pointer;
}

.content-bottom {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 2rem;
    /* border: 1px solid yellow; */
    height: 15%;
    border-bottom-right-radius: 3px;
}

@media screen and (max-width: 600px) {
    .content-middle {
        justify-content: center;
        height: 70%;
    }

    .content-middle-right {
        display: none;
    }

    .content-middle-left {
        padding: 0px;
        width: 80%;
    }

    .content-top {
        padding: 1rem;
        height: 15%;
        border-radius: 3px;
    }
    
    .img-box {
        width: 3rem;
        height: 3rem;
    }
    
    .img-box:first-child {
        margin-right: auto;
    }
    
    .img-box:first-child img {
        width: 2rem;
        height: 2rem;
    }
        
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}